@import "font.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Yekan-bakh;
}
a {
    text-decoration: none;
}
#main-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1400px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-item ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menu-item ul li {
    padding: 45px 20px;
}
.menu-item ul li a {
    color: #373a4a;
    font-size: 1.125rem;
    font-weight: 700;
}