@import "font.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Yekan-bakh;
}
a {
    text-decoration: none;
}
#main-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1400px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-item ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menu-item ul li {
    padding: 45px 20px;
}
.menu-item ul li a {
    color: #373a4a;
    font-size: 1.125rem;
    font-weight: 700;
}
.call .phone-img {
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2245%22%20height%3D%2245%22%20viewBox%3D%220%200%2045%2045%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22prefix__phone%22%20transform%3D%22translate%280%20.875%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22prefix__Ellipse_41%22%20cx%3D%2222.5%22%20cy%3D%2222.5%22%20r%3D%2222.5%22%20data-name%3D%22Ellipse%2041%22%20transform%3D%22translate%280%20-.875%29%22%20style%3D%22fill%3A%23eef0f6%22/%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22prefix__phone-volume%22%20transform%3D%22translate%2810%2010.125%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22prefix__Rectangle_37%22%20d%3D%22M0%200H24V24H0z%22%20data-name%3D%22Rectangle%2037%22%20style%3D%22fill%3Anone%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22prefix__phone-volume-2%22%20d%3D%22M19.41%2013a3.147%203.147%200%200%201-.67-.12%209.86%209.86%200%200%201-1.31-.39%202%202%200%200%200-2.48%201l-.22.46a13.17%2013.17%200%200%201-2.67-2%2013.17%2013.17%200%200%201-2-2.67l.46-.21a2%202%200%200%200%201-2.48%2010.47%2010.47%200%200%201-.39-1.32c-.05-.22-.09-.45-.12-.67a3%203%200%200%200-3-2.49H5a2.99%202.99%200%200%200-2.97%203.4%2019.008%2019.008%200%200%200%2016.41%2016.41%202.56%202.56%200%200%200%20.39%200%202.993%202.993%200%200%200%203-3v-3A3%203%200%200%200%2019.41%2013zm.49%206a1.005%201.005%200%200%201-1.15.99%2017.16%2017.16%200%200%201-9.87-4.84A17.16%2017.16%200%200%201%204%205.25%201.005%201.005%200%200%201%205%204.1h3a1%201%200%200%201%201%20.78%203.935%203.935%200%200%200%20.15.82%2011%2011%200%200%200%20.46%201.54l-1.4.66a1.042%201.042%200%200%200-.52%201.32%2014.49%2014.49%200%200%200%207%207%201.042%201.042%200%200%200%201.32-.52l.63-1.4a12.41%2012.41%200%200%200%201.58.46c.26.06.54.11.81.15a1%201%200%200%201%20.78%201zM14%202h-.7a1%201%200%201%200%20.17%202H14a6%206%200%200%201%206%206v.53a1%201%200%200%200%20.91%201.08h.08a1%201%200%200%200%201-.91V10A8%208%200%200%200%2014%202zm2%208a1%201%200%200%200%202%200%204%204%200%200%200-4-4%201%201%200%200%200%200%202%202%202%200%200%201%202%202z%22%20data-name%3D%22phone-volume%22%20transform%3D%22translate%28-.002%29%22%20style%3D%22fill%3A%23364163%22/%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A);
}